<table class="table table-responsive">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Last Login</th>
      <th scope="col">Portafolio</th>
      <th scope="col">Error</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td><a href="user/{{id}}">{{name}}</a></td>
      <td>Today</td>
      <td>Yes</td>
      <td>No</td>
    </tr>
    {{/each}}
  </tbody>
</table>