{{#if error}}
  <div class="alert alert-danger">
    <p class="mb-0"><img src="/img/icon-144x144.png" style="width: 30px;"> {{error}}</p>
  </div>
{{/if}}

{{#each errors}}
  <div class="alert alert-danger">
    <p class="mb-0"><img src="/img/icon-144x144.png" style="width: 30px;"> {{text}}</p>
  </div>
{{else}}

{{/each}}