{{#if success_msg}}
  <div class="alert alert-success">
    <p class="mb-0"><img src="/img/icon-144x144.png" style="width: 30px;"> {{success_msg}}</p>    
  </div>
{{/if}}

{{#if error_msg}}
  <div class="alert alert-danger">
    <p class="mb-0"><img src="/img/icon-144x144.png" style="width: 30px;"> {{error_msg}}</p>
  </div>
{{/if}}