<div class="jumbotron text-center">
  <img class="logo mb-2" src="/img/logo465x466.png">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Upload photos of yours assigments.</p>
  <a href="/users/login" class="btn btn-danger btn-block">Log In</a>
  <a href="/users/register" class="btn btn-dark btn-block">Sign Up</a>
</div>