<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Upload photos of yours assigments.</p>
  <a href="/assigments/add" class="btn btn-dark btn-lg">Add Assigment</a>
</div>