<h1>My Portfolio</h1>
<a href="{{pdfPath}}">click here to download the PDF file.</a>
{{!-- <object data="{{pdfPath}}" type="application/pdf" width="100%" height="1200"  style="overflow: scroll;">It appears your Web browser is not configured to display PDF files. No worries, just <a href="{{pdfPath}}">click here to download the PDF file.</a></object> --}}
